<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Vehículo</title>
</head>
<body>
    <h1>Añadir Vehículo</h1>
    <form action="{{ url_for('add_vehicle') }}" method="post">
        <label for="owner_name">Nombre del Propietario:</label>
        <input type="text" id="owner_name" name="owner_name" required>
        <br>
        <label for="vehicle_plate">Patente del Vehículo:</label>
        <input type="text" id="vehicle_plate" name="vehicle_plate" required>
        <br>
        <label for="parking_space">Espacio de Estacionamiento:</label>
        <select id="parking_space" name="parking_space">
            {% for space, details in spaces.items() %}
            {% if details['estado'] == 'Libre' %}
            <option value="{{ space }}">{{ space }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <br>
        <button type="submit">Añadir Vehículo</button>
    </form>
</body>
</html>