<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Estacionamiento</title>
    <link rel="stylesheet" href="styles.css" hreflang="clock.js">
</head>
<body>
    <div id="clock"></div>

    <h1>Gestión de Estacionamiento</h1>
    <a href="{{ url_for('add_space') }}" class="btn btn-add">Añadir Espacio</a>
    <a href="{{ url_for('add_vehicle') }}" class="btn btn-add">Añadir Vehículo</a>
    <a href="cambio_turno.html" class="btn btn-turno">Cambio Turno</a>
    <table>
        <thead>
            <tr>
                <th>Espacio</th>
                <th>Estado</th>
                <th>Discapacitado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for space, details in spaces.items() %}
            <tr>
                <td>{{ space }}</td>
                <td>{{ details['estado'] }}</td>
                <td>{{ 'Sí' if details['discapacitado'] else 'No' }}</td>
                <td>
                    {% if details['estado'] == 'Libre' %}
                    <form action="{{ url_for('add_vehicle') }}" method="post">
                        <button type="submit" class="btn btn-reserve">Reservar</button>
                    </form>
                    {% else %}
                    <form action="{{ url_for('release', space_id=space) }}" method="post">
                        <button type="submit" class="btn btn-release">Liberar</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Vehículos Registrados</h2>
    <table>
        <thead>
            <tr>
                <th>Propietario</th>
                <th>Patente</th>
                <th>Espacio</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle['owner_name'] }}</td>
                <td>{{ vehicle['vehicle_plate'] }}</td>
                <td>{{ vehicle['parking_space'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="clock.js"></script>
</body>
</html>
